.custom-alet-wrap {
  position: fixed;
  z-index: 100;
  top: 256px;
  left: 32px;
  right: 32px;
  padding: 30px 0;
  // animation: moveBox 0.2s;
  
  .pop-body {
    background: #fff;
    border-radius: 32px;
  }
  .at-icon-close-circle {
    font-size: 40px;
    margin-top: 160px;
    color: #fff;
    position: relative;
    left: 50%;
  }
}
.pop-mask {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

@keyframes moveBox {
  0% {
    bottom: -100%;
  }
  
  100% {
    bottom: 0;
  }
}