.page-store {
  .bg-img {
    width: 100%;
    // max-height: 400px;
    position: absolute;
    top: 0;
    z-index: -2;
    filter: blur(2px);
  }
  .img-mask {
    position: absolute;
    top: 400px;
    width: 100%;
    z-index: -1;
    height: 50vh;
    background: #fff;
  }

  .white-bg {
    background: #fff;
  }

  // .desc-card-wrap {
  //   background: #fff;
  //   height: 100vh;
  // }

  .desc-card {
    background: #fff;
    border-radius: 32px;
    margin: 32px;
    box-shadow: 2px 8px 20px 0 rgba(150, 159, 175, 0.35);
    margin-top: 220px;
    padding: 40px 32px;
  }

  .desc-wrap {
    .title {
      font-size: 36px;
      margin-bottom: 12px;
    }
    .img-wrap {
      overflow-x: auto;
      width: 100%;
      white-space: nowrap;
      margin: 32px 0;
      .img {
        height: 160px;
        display: inline-block;
        width: auto;
        margin-right: 16px;
      }
    }
    .detail-wrap {
      display: flex;
      align-items: center;
      font-size: 24px;
      .left {
        flex: 1;
        line-height: 40px;
        padding-right: 32px;
      }
      .right {
        width: 200px;
        min-width: 200px;
        &.at-button--disabled {
          background: linear-gradient(to right,#dcdcdc,#b9b9b9);
          border: 1Px solid #dcdcdc;
          opacity: 1;
        }
      }
    }
  }

  .card-layout {
    display: flex;
    align-items: center;
    color: #666;
    line-height: 36px;
    font-size: 26px;
    margin-bottom: 24px;
    height: 180px;
    .sub-title {
      font-size: 32px;
      color: #333;
      margin-bottom: 8px;
    }
    .left {
      width: 240px;
      min-width: 240px;
      height: 100%;
      margin-right: 40px;
    }
    .flex-column {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 32px 0;
    }
  }

  .notice {
    word-break: break-all;
    padding: 20px 40px;
  }

  .detail-content {
    padding: 48px;
    white-space: pre-wrap;
  }

  .form-wrap {
    .tab-wrap {
      border-radius: 32px;
    }
  }
  .p16 {
    padding: 16px;
  }
}

.page-store-image-list {
  .swiper-content {
    height: 60vh;
    line-height: 60vh;
    margin-top: 20vh;
    image {
      width: 100%;
      height: auto;
    }
  }
  .number-content {
    text-align: center;
    margin-top: 24px;
    color: #666;
    .current {
      font-size: 32px;
      color: #333;
    }
  }
}