page {
  background: #fff;
}

.page-home {
  position: relative;
  padding-top: 1px;
  height: 100%;
  .bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .form-wrap {
    background: #fff;
    border-radius: 32px;
    margin: 32px;
    box-shadow: 2px 8px 20px 0 rgba(150, 159, 175, 0.35);
    margin-top: 220px;
  }
}