.custom-pop-wrap {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  max-height: 96%;
  min-height: 300px;
  padding-bottom: 30px;
  // animation: moveBox 0.2s;
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    font-size: 36px;
    color: #666;
    &.border {
      border-bottom: 1px solid #f0f0f0;
    }
  }
  .title {
    padding: 0 24px;
    text-align: center;
  }

  .footer-content {
    background: #fff;
    border-top: 1px solid #f0f0f0;
    padding: 40px 64px 80px 64px;
  }
}
.custom-pop-mask {
  position: fixed;
  z-index: 180;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.custom-alert-wrap {
  position: fixed;
  z-index: 100;
  top: 256px;
  left: 32px;
  right: 32px;
  padding: 30px 0;
  
  .pop-body {
    background: #fff;
    border-radius: 32px;
  }
  .at-icon-close-circle {
    font-size: 60px;
    margin-top: 160px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.custom-alert-mask {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

@keyframes moveBox {
  0% {
    bottom: -100%;
  }
  
  100% {
    bottom: 0;
  }
}