.customTabar-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  font-size: 20px;
  background: #fff;
  padding: 16px 0;
  color: #888;
  font-weight: 400;
  border-top: 1px solid #f0f0f0;
  &.bottom-IPX {
    /* iPhone X 内容往上偏移 46px */
    padding-bottom: 46px;
  }
  .navbar-block {
    width: 50%;
    text-align: center;
    &.active {
      color: #333;
      font-weight: 500;
      .font {
        color: #f5b060;
      }
    }
  }
  .tab-img {
    margin-bottom: -4px;
    width: 48px;
    height: 48px;
  }
  
}