@import "@style/var";
@import "~taro-ui/dist/style/index.scss";
@import "@style/commen";

// reset style
.at-button--primary {
  background: linear-gradient(to right,#eeb367,#ec9567);
}

page {
  background: $color-bg;
  font-size: 28px;
  color: #333;
}