page {
  background: #f0f7f7;
}

.page-discount {
  .custom-tab-wrap {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f0f7f7;
  }
  .list-content{
    box-sizing: border-box;
    padding: 152px 32px 32px 32px;
  }
}